<!DOCTYPE html>
<html><!--
Copyright © 2018-2020 Jason Francis
This file is licensed to you under the Apache License,
Version 2.0 (the "License"); you may not use this file
except in compliance with the License. You may obtain a
copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->
<head>
  <title><%= currentTrack.title %></title>
  <meta charset="utf-8">
  <meta http-equiv="content-security-policy"
    content="style-src 'self' 'unsafe-inline';
             script-src 'self' 'unsafe-inline';
             img-src 'self' 'unsafe-inline' blob: data:;
             worker-src 'self';
             default-src 'self' blob:">
  <link rel="stylesheet" href="./style.css">
  </head>
  <body id="body">
    <audio id="audio" src="<%= currentTrack.uri %>" controls autoplay></audio>
    <aside id="playlist-container">
      <header class="album-title <%= (download ? 'downloadable' : '') %>"><span><%= albumTitle %></span>
        <% if (download) { %><a class="button download" title="Download Album" href="<%= albumUri %>" download></a><% } %>
      </header>
      <ol id="playlist">
        <% for (const track of tracks) { %>
        <li class="<%= (track === currentTrack ? 'selected ' : '') + (download ? 'downloadable' : '') %>">
          <a class="track-button" href="<%= track.playerUri %>" data-audio="<%= track.uri %>">
            <span class="title"><%= track.title %></span>
            <% if (track.artist) { %><span class="artist"><%= track.artist %></span><% } %>
            <span class="duration"><%= track.duration %></span>
          </a>
          <% if (download) { %><a class="button download" title="Download Track" href="<%= track.uri %>" download></a><% } %>
        </li>
        <% } %>
      </ol>
    </aside>
    <canvas id="viz" width="0" height="0"></canvas>
    <script src="./player.js"></script>
    <style>
#audio {
  display: initial;
  position: static;
}
#playlist-container {
  display: inline-block;
}
    </style>
  </body>
</html>
