
<p>Built with <a href="https://gitlab.com/meditator/ssav-generator" target="_blank">ssav-generator</a>,<br>
Copyright 2018-2020 <a href="https://cycles.network" target="_blank">Jason Francis</a></p>
<p>Licensed under the <a href="https://www.apache.org/licenses/LICENSE-2.0" target="_blank">Apache License, Version 2.0</a></p>
<p>Icons credited to:<ul>
  <li><a href="https://twitter.com/keyamoon" title="Keyamoon" target="_blank">Keyamoon</a> at <a href="https://icomoon.io" title="Icomoon" target="_blank">Icomoon</a>, licensed under <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons BY 4.0" target="_blank">CC 4.0 BY</a></li>
  <li><a href="https://fontawesome.com" title="Font Awesome" target="_blank">Font Awesome</a>, licensed under <a href="http://creativecommons.org/licenses/by/4.0/" title="Creative Commons BY 4.0" target="_blank">CC 4.0 BY</a></li>
</ul></li>
