/*
 * This file is licensed to you under the Apache License,
 * Version 2.0 (the "License"); you may not use this file
 * except in compliance with the License. You may obtain a
 * copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

html {
  overflow: hidden;
}
audio {
  position: fixed;
  left: -100vw;
  top: -100vh;
  width: calc(100% - 16px);
  margin: 8px;
  z-index: -1;
}
body {
  margin: 0;
  background-image: linear-gradient(#111111, #050505);
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  height: 100vh;
}
#viz {
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
}
.player {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 64px;
  transition: top 0.2s ease-in-out;
  display: flex;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.875), rgba(0,0,0,0.9375));
  z-index: 2;
  -webkit-backdrop-filter: blur(4px);
}
.player.fullscreen {
  top: -64px;
}
button, .button {
  position: relative;
  width: 56px;
  height: 64px;
  padding: 0;
  border: 0;
  cursor: pointer;
  color: #eee;
  font-size: 24px;
  background: none;
}
.vertical-container > * {
  display: block;
  height: 32px;
}
.vertical-container > :last-child button::before, .vertical-container > button:last-child::before {
  left: 6px;
  top: 4px;
}
.vertical-container > :last-child button::after, .vertical-container > button:last-child::after {
  top: 7px;
}
button.small {
  font-size: 12px;
  width: 32px;
  height: 32px;
}
body::after{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url(icons/close.svg) url(icons/download.svg) url(icons/info.svg)
    url(icons/next.svg) url(icons/pause.svg) url(icons/playlist.svg)
    url(icons/play.svg) url(icons/previous.svg) url(icons/repeat.svg)
    url(icons/repeat-one.svg) url(icons/shuffle.svg) url(icons/spinner.svg)
    url(icons/up.svg) url(icons/viz.svg) url(icons/volume-high.svg)
    url(icons/volume-low.svg) url(icons/volume-medium.svg)
    url(icons/volume-mute.svg);
}
button::before, .button::before {
  border-radius: 24px;
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.15);
  position: absolute;
  top: 8px;
  left: 4px;
  content: '\00a0';
  display: block;
}
button:hover::before, .button:hover::before {
  background-color: rgba(255, 255, 255, 0.20);
}
button:active::before, .button:active::before {
  background-color: rgba(255, 255, 255, 0.25);
}
button::after, .button::after {
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  opacity: 0.9375;
  content: '\00a0';
  display: block;
  position: absolute;
  top: 20px;
  left: 16px;
  background-size: 100% 100%;
}
button.small::before {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  left: 6px;
  top: 8px;
}
button.small::after {
  width: 14px;
  height: 14px;
  top: 11px;
  left: 9px;
}
button.loading::after {
  animation: 3s linear infinite spin;
  background-image: url(icons/spinner.svg) !important;
  margin-left: 0 !important;
}
button.pause::after {
  background-image: url(icons/pause.svg);
}
button.play::after {
  background-image: url(icons/play.svg);
  margin-left: 2px;
}
button.next::after {
  background-image: url(icons/next.svg);
}
button.previous, button.playlist {
  width: 60px;
}
button.previous::after {
  background-image: url(icons/previous.svg);
  margin-left: 4px;
}
button.previous::before {
  left: 8px;
}
button.repeat::after {
  background-image: url(icons/repeat.svg);
}
button.repeat-one::after {
  background-image: url(icons/repeat-one.svg);
}
button.shuffle::after {
  background-image: url(icons/shuffle.svg);
}
button.volume-high::after {
  background-image: url(icons/volume-high.svg);
}
button.volume-medium::after {
  background-image: url(icons/volume-medium.svg);
}
button.volume-low::after {
  background-image: url(icons/volume-low.svg);
}
button.volume-mute::after {
  background-image: url(icons/volume-mute.svg);
}
button.viz::after {
  background-image: url(icons/viz.svg);
}
button.playlist::after {
  background-image: url(icons/playlist.svg);
}
button.playlist::before {
  margin-right: 8px;
}
button.download::after, .button.download::after {
  background-image: url(icons/download.svg);
}
button.info::after {
  background-image: url(icons/info.svg);
}
button.up::after {
  background-image: url(icons/up.svg);
}
button.close::after {
  background-image: url(icons/close.svg);
}
button.active::after {
  filter: invert(100%);
}
button.active::before {
  background-color: rgba(255, 255, 255, 0.8125);
}
button.active:hover::before {
  background-color: rgba(255, 255, 255, 0.875);
}
button.active:active::before {
  background-color: rgba(255, 255, 255, 0.9375);
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}
#slider-container {
  flex: 1;
  height: 64px;
  position: relative;
  cursor: pointer;
}
#slider-container:hover .seek-popup-container {
  opacity: 1;
}
.seek-popup-container {
  position: fixed;
  top: 56px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 3;
}
.seek-popup {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 24px;
  background-color: #eee;
  border-radius: 4px;
  color: #111;
  min-width: 40px;
  padding: 0 4px;
  white-space: nowrap;
  text-align: center;
  z-index: 5;
  position: relative;
  top: 6px;
  left: -24px;
}
.seek-popup-container::before {
  position: absolute;
  content: '\00a0';
  width: 16px;
  height: 16px;
  background-color: #eee;
  transform: rotate(45deg);
  z-index: 4;
  left: -8px;
}
#player-marquee {
  position: absolute;
  width: calc(100% - 32px);
  pointer-events: none;
  user-select: none;
  -moz-user-select: -moz-none;
  z-index: 3;
  margin: 14px 16px;
}
#player-marquee > * {
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#marquee-title {
  font-size: 24px;
  line-height: 24px;
  text-shadow: 0 2px 0 #111;
}
#marquee-artist {
  font-size: 12px;
  line-height: 12px;
  text-shadow: 0 1px 0 #111;
}
#slider-gutter {
  border-radius: 4px;
  background-image: linear-gradient(rgba(255,255,255,0.1), rgba(255,255,255,0.125));
  width: calc(100% - 16px);
  height: 48px;
  margin: 8px;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}
#slider-waveform {
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
  background-size: 100% 48px;
  opacity: 0.75;
  transition: width 0.2s ease-in-out;
}
#slider-waveform.hidden {
  width: 0;
}
#waveform {
  image-rendering: pixelated;
}
#slider-fill {
  background-image: linear-gradient(rgba(255,255,255,0.275), rgba(255,255,255,0.3125));
  height: 100%;
  position: absolute;
  pointer-events: none;
}
#slider {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #ccc;
  margin: -4px 0 0 -8px;
  border-radius: 8px;
  pointer-events: none;
}
.duration {
  text-align: center;
  min-width: 48px;
  font-size: 16px;
  margin-right: 8px;
}
a {
  text-decoration: none;
  color: #ddd;
}
#playlist-container {
  display: none;
  position: relative;
  z-index: 1;
  -webkit-backdrop-filter: blur(4px);
}
#playlist-container.docked {
  display: inline-block;
  margin: 0;
  position: fixed;
  top: 64px;
  width: 320px;
  right: 0;
  height: calc(100% - 64px);
  transition: right 0.2s ease-in-out;
  background-color: rgba(0,0,0,0.9375);
}
#playlist-container.docked.hidden, #playlist-container.docked.fullscreen {
  right: -320px;
}
#playlist-container:not(.docked) {
  margin: 16px;
  min-width: 512px;
  max-width: calc(100% - 32px);
  background-color: rgba(255,255,255,0.1);
}
#playlist-container .album-title {
  height: 48px;
}
#playlist-container .album-title span {
  line-height: 32px;
  font-size: 22px;
  padding: 8px 16px;
  text-shadow: 0 2px 0px rgba(255, 255, 255, 0.15);
}
#playlist-container .album-title.downloadable span {
  width: calc(100% - 80px);
}
#playlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 48px;
  display: block;
  width: 100%;
}
#playlist-container.docked #playlist {
  height: calc(100% - 48px);
  overflow: auto;
}
#playlist li {
  transition: background-color 0.1s ease-in-out;
  height: 48px;
  position: relative;
}
#playlist li.selected {
  background-color: rgba(255, 255, 255, 0.875);
}
#playlist li.selected a {
  color: #111;
}
#playlist li:hover {
  background-color: rgba(255, 255, 255, 0.125);
}
#playlist li.selected:hover {
  background-color: rgba(255, 255, 255, 0.9375);
}

#playlist li .button, .album-title .button {
  width: 48px;
  height: 48px;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
  padding: 0;
}
#playlist li .button::before, .album-title .button::before {
  height: 32px;
  width: 32px;
  border-radius: 16px;
  left: 8px;
  top: 8px;
  background-color: rgba(255, 255, 255, 0.125);
  padding: 0;
}
#playlist li .button:hover::before, .album-title .button:hover::before {
  background-color: rgba(255, 255, 255, 0.25);
}
#playlist li .button:active::before, .album-title .button:active::before {
  background-color: rgba(255, 255, 255, 0.375);
}
#playlist li .button::after, .album-title .button::after {
  transition: filter 0.1s ease-in-out;
  width: 20px;
  height: 20px;
  top: 14px;
  left: 14px;
}
#playlist li.selected .button::before, #info button::before {
  background-color: rgba(0, 0, 0, 0.125);
}
#playlist li.selected .button::after, #info button::after {
  filter: invert(100%);
}
#playlist li.selected .button:hover::before, #info button:hover::before {
  background-color: rgba(0, 0, 0, 0.25);
}
#playlist li.selected .button:active::before, #info button:active::before {
  background-color: rgba(0, 0, 0, 0.375);
}
#playlist .title, #playlist .artist, #playlist-container .album-title span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#playlist .title, #playlist .artist {
  width: calc(100% - 48px);
}
#playlist .downloadable .title, #playlist .downloadable .artist {
  width: calc(100% - 96px);
}
#playlist .title {
  font-size: 14px;
}
#playlist li:not(.selected) span {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.875);
}
#playlist li.selected span {
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
}
#playlist .artist {
  font-size: 10px;
  margin-top: 3px;
}
#playlist .duration {
  position: absolute;
  right: 0;
  top: 8px;
  font-size: 14px;
  line-height: 32px;
}
#playlist .downloadable .duration {
  right: 40px;
}
#playlist li a {
  padding: 8px;
  display: block;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  position: relative;
}

.menu-button-container {
  position: relative;
}
.menu-container {
  position: absolute;
  top: 8px;
  left: 32px;
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
.vertical-container > :last-child .menu-container {
  top: 4px;
}
.menu-container::before {
  position: absolute;
  content: '\00a0';
  width: 16px;
  height: 16px;
  background-color: #eee;
  transform: rotate(45deg);
  z-index: 4;
  left: -2px;
  top: 2px;
}
.menu {
  position: relative;
  overflow: hidden;
  background-color: #eee;
  z-index: 5;
  border-radius: 4px;
  left: 2px;
  top: -2px;
  color: #111;
  transition: width 0.2s ease-in-out;
  width: 16px;
}
.menu-button-container:hover .menu-container {
  opacity: 1;
  pointer-events: initial;
}
.menu-button-container:hover .volume-menu {
  width: 24px;
}
.volume-menu {
  height: 100px;
  cursor: row-resize;
}
.menu-button-container:hover .viz-menu {
  width: 200px;
}

.viz-menu {
  margin: 0;
  padding: 0;
  font-size: 12px;
  max-height: 200px;
}

.viz-menu li {
  padding: 8px;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
}
.viz-menu li:hover {
  background: rgba(0, 0, 0, 0.25);
}
.viz-menu li.selected {
  background: rgba(0, 0, 0, 0.4);
}
.viz-menu li.selected:hover {
  background: rgba(0, 0, 0, 0.5);
}

#volume-gutter {
  border-radius: 2px;
  background-color: rgba(0,0,0,0.125);
  width: 12px;
  height: 88px;
  margin: 6px;
  position: absolute;
  pointer-events: none;
  overflow: hidden;
}
#volume-fill {
  background-color: rgba(0,0,0,0.5);
  width: 12px;
  bottom: 0;
  position: absolute;
  pointer-events: none;
}
#volume-slider {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #444;
  margin: 8px;
  border-radius: 4px;
  pointer-events: none;
}

#info {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.9375);
  color: #111;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  width: 384px;
  height: 256px;
  position: fixed;
  left: calc(50% - 256px);
  top: calc(50% - 128px);
  padding: 16px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 1);
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  z-index: 100;
}
#info.hidden {
  opacity: 0;
  pointer-events: none;
}
#info a {
  text-decoration: underline;
  color: #555;
}
#info a:hover {
  color: #444;
}
#info a:active {
  color: #333;
}
#info ul {
  padding-left: 24px;
}
#info content {
  font-size: 16px;
  height: 100%;
  overflow: auto;
}
#info .title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin: -16px -16px 16px;
    line-height: 48px;
    background-color: rgba(0, 0, 0, 0.08);
}
#info .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
}
#info .close::before {
  width: 32px;
  height: 32px;
  left: 8px;
  top: 8px;
}
#info .close::after {
  width: 16px;
  height: 16px;
  top: 16px;
  left: 16px;
}
